<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924497757626-g63v91pllfhd0crljkt9jutdnf1ht1ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924497757626-g63v91pllfhd0crljkt9jutdnf1ht1ni</string>
	<key>API_KEY</key>
	<string>AIzaSyCNneZm5Tnbr0t-gp8PIJW05m-S42-yq74</string>
	<key>GCM_SENDER_ID</key>
	<string>924497757626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiquest.hotbreads</string>
	<key>PROJECT_ID</key>
	<string>hot-breads-d0f06</string>
	<key>STORAGE_BUCKET</key>
	<string>hot-breads-d0f06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924497757626:ios:a61b0997f07e4c22b30983</string>
</dict>
</plist>